<!--About Us-->
<div id="colorlib-choose">
    <div class="container-fluid">
        <div class="row">
            <div class="choose">
                <div class="half img-bg" style="background-image: url('../../Images/cover_bg_1.jpg');"></div>
                <div class="half features-wrap">
                    <div class="features-services animate-box">
                        <div class="colorlib-heading animate-box">
                            <h2>About us - Our achievements</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="features animate-box">
                                    <span class="icon text-center"><i class="flaticon-healthy-1"></i></span>
                                    <div class="desc">
                                        <h3>Great Support</h3>
                                        <p>If you have any questions, please contact us, we will advise you 24/7. </p>
                                    </div>
                                </div>
                                <div class="features animate-box">
                                    <span class="icon text-center"><i class="flaticon-stethoscope"></i></span>
                                    <div class="desc">
                                        <h3>Imported Drugs</h3>
                                        <p>We provide imported drugs manufactured by leading pharmaceutical companies. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="features animate-box">
                                    <span class="icon text-center"><i class="flaticon-medical-1"></i></span>
                                    <div class="desc">
                                        <h3>Conferences</h3>
                                        <p>We regularly hold medical seminars to provide you with the most up-to-date and useful information. </p>
                                    </div>
                                </div>
                                <div class="features animate-box">
                                    <span class="icon text-center"><i class="flaticon-radiation"></i></span>
                                    <div class="desc">
                                        <h3>High quality Equipment</h3>
                                        <p>Specialized medical equipment manufactured by leading companies in this field is being provided in our clinic. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--End of About Us-->
<!-- Animate.css -->
<link rel="stylesheet" href="~/css/animate.css">
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="~/css/icomoon.css">
<!-- Bootstrap  -->
<link rel="stylesheet" href="~/css/bootstrap.css">
<!-- Magnific Popup -->
<link rel="stylesheet" href="~/css/magnific-popup.css">
<!-- Owl Carousel  -->
<link rel="stylesheet" href="~/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/css/owl.theme.default.min.css">
<!-- Flexslider  -->
<link rel="stylesheet" href="~/css/flexslider.css">
<!-- Flaticons  -->
<link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
<!-- Theme style  -->
<link rel="stylesheet" href="~/css/style.css">
<!-- Modernizr JS -->
<script src="~/js/modernizr-2.6.2.min.js"></script>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
<script src="js/respond.min.js"></script>
<![endif]-->
<!--From template 2-->

<link href="~/css/bootstrap2.min.css" rel="stylesheet" />

<link rel="stylesheet" href="~/css/open2-iconic-bootstrap.min.css">

<link rel="stylesheet" href="~/css/owl2.carousel.min.css">
<link rel="stylesheet" href="~/css/owl2.theme.default.min.css">
<link rel="stylesheet" href="~/css/icomoon2.css">
<link rel="stylesheet" href="~/css/flaticon2.css">
<link rel="stylesheet" href="~/css/animate2.css">
<link rel="stylesheet" href="~/css/bootstrap2-datepicker.css">
<link rel="stylesheet" href="~/css/style2.css">
<!--===Css5 and ==js5=-->
<link rel="stylesheet" href="~/css/style5.css">
<link rel="stylesheet" href="~/css/responsive5.css">
<script src="~/js/jquery5-3.2.1.min.js"></script>
<script src="~/js/popper5.js"></script>
<script src="~/js/bootstrap5.min.js"></script>
<script src="~/js/stellar5.js"></script>
<script src="~/js/jquery5.lightbox.js"></script>
<script src="~/js/jquery5.ajaxchimp.min.js"></script>
<!--=========8=========-->
<link rel="stylesheet" type="text/css" href="~/css/bootstrap8.min.css">
<link href="~/css/font8-awesome.min.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="~/css/cart8_responsive.css">
<link rel="stylesheet" type="text/css" href="~/css/cart8.css">
<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="~/js/cart8.js"></script>
<!--===Css6 and ==js6=-->
<link href="~/css/style6.css" rel="stylesheet" />
<script src="~/js/jquery6-2.2.4.min.js"></script>

<!-- Popper js -->
<script src="~/js/popper6.min.js"></script>

<!-- Bootstrap js -->
<script src="~/js/bootstrap6.min.js"></script>
<!-- All Plugins js -->
<script src="~/js/plugins6.js"></script>
<!-- Active js -->
<script src="~/js/active6.js"></script>