@model WebAdmin.Models.Category
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details of Category</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CategoryEdit", new { id = Model.CateId },new { @class = "btn btn-primary" })

    @Html.ActionLink("Back to List", "CategoryIndex", "", new { @class = "btn btn-default" })
</p>
